*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.seg1{
    height: 120px;
    background-color: rgb(228, 37, 37);
    
}



.logo{
    width: 100%;
    height: 90%;
    margin-top: 20px;
    background-image: url("logo_b.png");
    background-size: 100%;
    background-repeat: no-repeat;
    
}

.seg1 i{
    display: none;
}


.seg1_2{
    height: 120px;
    background-color: rgb(228, 37, 37);
    display: flex;
    justify-content: center;
    justify-items: center;
    
}

.mail_info{
    width: 80%;
    height: 55px;
    position: absolute;
    right: 0px;
    display: flex;
    justify-content: flex-end;
    background-color: transparent;

}

.mail_info p{
    font-family: Raleway;
    font-size: 13px;
    font-weight: bold;
    color: white;
    margin-left: 30px;
}



.seg1_2 ul{
    width: 100%;
    align-self: center;
    background-color: transparent;
    margin-top: 12px;

}

.seg1_2 ul li{
    float: left;
    
    margin-left: 5%;
    list-style-type: none;
    font-family: Poppins;
    color: whitesmoke;

}

.seg1_2 ul a{
    color: white;
    text-decoration:none;
}

.seg1_2 ul li:hover{
    cursor: pointer;
}


.seg1_2 ul li ul{
    display: none;

}

.seg1_2 ul li:hover > ul{
    display: inline-block;
    position: absolute;
    z-index: 6;
    width: auto;
    height: 240px;
    background-color:rgb(194, 26, 26) ;
    margin-left: -50px;
    margin-top: 25px;
    
    border-radius: 5px;
}
.seg1_2 ul li:hover > ul li{

    width: 100%;
    height: 35px;
    text-align: center;
    background-color: transparent;
    padding-left: 0%;
    margin-left: 0%;
    margin-top: 3px;
    padding-top:5px;
    color:white;
    transition: all 0.4s ease;
    
}

.seg1_2 ul li:hover > ul li:hover{
    background:linear-gradient(90deg, gold, rgb(255, 153, 0)); 
    color: black;
    transition: all 0.4s ease;
}





.seg1_3{
    height: 120px;
    background-color: rgb(228, 37, 37);
    display: flex;
    justify-content: center;
    
}

.seg1_3 button{
    width: 150px;
    height: 40px;
    border: solid thin whitesmoke;
    border-radius: 5px;
    color:rgb(228, 37, 37) ;
    background:linear-gradient(90deg, whitesmoke, white);
    font-family: Raleway;
    align-self:center;
    font-weight: bold;
    box-shadow: 0px 0px 8px rgb(155, 23, 23);

}


.seg2{
    height: 600px;
    background-color: whitesmoke;
    
    background-size: 100%;
    background-repeat: no-repeat;
}

video{
    
    position: absolute;
    left: 0;
    right: 0;
    top: -10;
}

.seg2 h1{
    position: absolute;
    z-index: 6;
    font-family: Raleway;
    font-size: 45px;
    font-weight: bold;
    width: auto;
    height: 80px;
    background: white;
    top:30%;
    padding-left: 30px;
    padding-right: 30px;
}

.seg2 h2{
    width: auto;
    height: 45px;
    background:linear-gradient(90deg, gold, rgb(255, 153, 0));
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    z-index: 7;
    top: 40%;

}


.seg3{
    height: 180px;
    background:whitesmoke;
    display: flex;
    justify-content: center;
    
}

.block1{
    height: 150px;
    background: white;
    border: solid thin transparent;
    border-radius: 18px;
    box-shadow: 0px 8px 40px lightgray;
    position: absolute;
    top: -22%;
    display: flex;
    justify-content: center;
    justify-self: center;
    
    

}

.block1 h1{
    font-family: Poppins;
    font-weight: bold;
    align-self: center;
    background-attachment:fixed;
    background: linear-gradient(90deg, orange, gold) no-repeat;
                    
                
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.block1 button{
    width: 160px;
    height: 42px;
    border: solid thin transparent;
    border-radius: 8px;
    align-self: center;
    margin-left: 5%;
    color: white;
    border: solid thin #f43837;
    transition: all 0.6s ease;
    background: linear-gradient(90deg, rgb(228, 37, 37),rgb(185, 31, 31));
    font-family: Raleway;
    font-weight: bold;
    box-shadow: 0px 0px 2px #f43837;

}

.block1 button:hover{
    box-shadow: 0px 8px 35px #f43837;
    transition: all 0.6s ease;

}

.seg3_2{
    height: 300px;
    background: whitesmoke;
    display: flex;
}

.seg3_2 button{
    width: 52px;
    height: 52px;
    border: solid thin rgb(228, 37, 37);
    border-radius: 26px;
    padding-left: 3px;
    background: linear-gradient(90deg, rgb(228, 37, 37), rgb(185, 31, 31)) no-repeat;
    color: white;
    transition: all 0.6s ease;
    position: absolute;
    top: 95px;

}

.seg3_2 button:hover{
    box-shadow: 0px 5px 20px #f43837;
    transition: all 0.6s ease;

}


.seg3_2 p{
    font-family: Poppins;
    font-size: 20px;
    
    
}

.seg3_2 h1{
    font-family: Raleway;
    font-weight: bolder;
    color: rgb(228, 37, 37);
    position: absolute;
    margin-top:30px; 
}

.seg3_2 label{
    margin-top: 110px;
    font-family: Raleway;
    margin-left: -55%;
    font-weight: bold;
    font-size: 13px;

}



.seg3_3{
    height: 300px;
    background-color: whitesmoke;
}

.seg3_3 div{
    width: auto;
    height: 150px;
    background-color:transparent;
    float: left;
    margin-left: 16%;
    

}

.seg3_3 div p{
    color:gainsboro;
    font-family: Anton;
    font-size: 90px;
    
}
.seg3_3 div label{
    font-family: Raleway;
    font-weight: bold;
}



.seg3_extended{
    height: 400px;
    background: whitesmoke;
    background-image: url("cover1.svg");
    background-repeat: no-repeat;
}

.seg3_extended h2{
    width: 70%;
    height: 60px;
    background: linear-gradient(90deg, gold, rgb(255, 174, 0));
    line-height: center;
    padding-top: 15px;
    padding-bottom: 0px;
    font-family: Raleway;
    padding-left: 20px;
    font-size: 28px;
    

}

.seg3_extended h2 i{
    padding-right: 20px;
}

.seg3_extended a{
    text-decoration: none;
    
}
.seg3_extended a:hover{
    text-decoration: none;
    
}

.seg3_extended div{
    border: dashed thin gray;
    padding-left: 2%;
    padding-top: 1%;
    margin-top: 1%;
    border-radius: 8px;
    background:rgb(253, 253, 253);
    opacity: 0.8;
    
}
.seg3_extended div:hover{
    background: linear-gradient(90deg, rgb(228, 37, 37), rgb(185, 31, 31));
    color: white;
    transition: all 0.5s ease;
    
}

.seg3_extended div h3{
    color: black;
    font-family: Poppins;

}


.seg3_extended2{
    height: 400px;
    background-color: whitesmoke;
    background-image: url("gown2.png");
    background-size: 90%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: right;
    
}





.seg4{
    height: 480px;
    background:linear-gradient(180deg, gainsboro, whitesmoke);
    display: flex;
    justify-content: center;
    
}

.sub_block{
    height: 420px;
    width: 90%;
    background: whitesmoke;
    border: solid thin transparent;
    
    background-image: url("Capture1.png");
    background-size: 50%;
    background-repeat: no-repeat;
    display: none;
}

.seg4_2{
    height: 480px;
    background:linear-gradient(180deg, gainsboro, whitesmoke);
    display: flex;
    justify-content: center;
}

.seg4_2 h2{
    color:rgb(228, 37, 37) ;
    font-family: Raleway;
    font-weight: bold;
    position: absolute;
    margin-top: 25px;
}

.seg4_2 ul{
    margin-top: 60px;
}

.seg4_2 ul li{
    list-style-type: none;
    margin-top: 21px;
    font-family: Poppins;
    font-size: 18px;

    
}

.seg4_2 ul li i{
    font-size: 32px;
    line-height: center;
    padding: 0px;
    background-attachment:fixed;
    background: linear-gradient(90deg, rgb(228, 37, 37), rgb(185, 31, 31)) no-repeat;
                    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.seg5{
    height: 900px;
    background: whitesmoke;
    

}

.seg5 div{
    height: 310px;
    background-color: white;
    margin-left: 20px;
    float: left;
    margin-top: 40px;
    margin-left: 6%;
    border: solid thin transparent;
    border-radius: 5px;
    box-shadow: 0px 5px 20px gainsboro;
    display: flex;
    justify-content: center;
    background-image: url("Engineering.svg");
    background-repeat: no-repeat;
    border-bottom: solid 3px rgb(228, 37, 37);
    background-size: contain;
    transition: all 0.6s ease;

}

.seg5 div:hover{
    box-shadow: 0px 5px 20px gray;
    transition: all 0.6s ease;
}

.seg5 div h3{
    font-family: Poppins;
    
    color: rgb(26, 26, 26);
    width: 100%;
    height: 21.5%;
    background:linear-gradient(90deg, gold, rgb(255, 174, 0));
    border: solid thin gold;
    position: absolute;
    bottom: -10px;
    padding-bottom: 0%;
    padding-top:5px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-size: 23px;
    
    
}

.seg6{
    height: 500px;
    background-color: whitesmoke;
    


}

.seg6 h1{
    font-family: Raleway;
    font-weight: bold;
    color:rgb(228, 37, 37) ;
}




/* external css: flickity.css */

* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
  background: #EEE;
}

.carousel-cell {
  width: 33%;
  height: 300px;
  margin-right: 10px;
  background: #8C8;
  border-radius: 5px;
  /*counter-increment: carousel-cell;*/
  
}

.carousel-cell h2{
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 50px;
    background: linear-gradient(90deg, gold, rgb(255, 174, 0));
    bottom: -10px;
    padding-left: 10px;
    font-family: Poppins;
   
}

.carousel-cell h2 label{
   
    width: auto;
    height: 50px;
    background: transparent;
    font-family: Raleway;
    font-size: 15px;
    font-weight: bold;
    padding-left: 20px;
}


.carousel-cell.is-selected {
  background:rgb(228, 37, 37);
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  /*content: counter(carousel-cell);*/
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.carousel-cell:nth-child(1){
   
    background-size: cover;
    background-repeat: no-repeat;
}
.carousel-cell:nth-child(2){
    
    background-size: cover;
    background-repeat: no-repeat;
}
.carousel-cell:nth-child(3){
    
    background-size: cover;
    background-repeat: no-repeat;
}
.carousel-cell:nth-child(4){
    
    background-size: cover;
    background-repeat: no-repeat;
}
.carousel-cell:nth-child(5){
    
    background-size: cover;
    background-repeat: no-repeat;
}
.carousel-cell:nth-child(6){
   
    background-size: cover;
    background-repeat: no-repeat;
}



.seg7{
    height: 500px;
    background-color: whitesmoke;
    display: flex;
    background-image: url("dots2.svg");
    background-repeat: no-repeat;

}
.seg7 h1{
    font-family: Poppins;
    font-weight: bold;
    color: rgb(228, 37, 37);
}
.seg7 blockquote{
    position: absolute;
    margin-top: 150px;
    font-family: Raleway;
    font-weight: bold;
    width: 80%;
    padding-left: 10%;
}

.seg7_2{
    height: 500px;
   
    background: whitesmoke;
    background-image: url("dots1.svg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.seg7_2 img{
    width: 70%;
    height: auto;
}

.seg7_2 h3{
    margin-top: 40px;
    color: rgb(17, 17, 17);
    font-family: Poppins;
}
.seg7_2 h5{
    font-family: Raleway;
    color: gray;
    text-align: center;
    margin-left: -150px;
    font-weight: bold;
}


.seg7_additional{
    height: 350px;
    background: gainsboro;
    background-image: url("avtar1.png");
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;

}

.seg7_additional h4{
    position: absolute;
    top: 72%;
    font-family: Poppins;
}
.seg7_additional p{
    position: absolute;
    top: 81%;
    font-family: Raleway;
    color: gray;
}

.seg7_extended{
    height: 550px;
    background: gainsboro;

}

.seg7_extended h1{
    width: 30%;
    height: 58px;
    padding-left: 10px;
    border-radius: 5px;
    background:linear-gradient(90deg,rgb(228, 37, 37),rgb(185, 31, 31) ) ;
    box-shadow: 0px 0px 3px gray;
    font-family: Raleway;
    color:white;
}







.seg8{
    height: 350px;
    background-color: rgb(228, 37, 37);


}

.seg8 i{
    font-size: 25px;
    margin-left: 12px;
    margin-top: 20px;
    color: white;

}

.address_block{
    height: 200px;
    background-color:transparent;
    margin-top: 30px;
}

.address_block i{
    font-size: 18px;
    font-weight: bold;

}
.address_block i p{
    font-family: Raleway;
    font-size: 15px;
    font-weight: bold;
    padding-left: 0px;
}




.seg8_2{
    height: 350px;
    background-color: rgb(228, 37, 37);
    

}
.seg8_2 h2{
    font-family: Poppins;
    color: white;
    margin-top: 20px;

}

.seg8_2 ul li{
    list-style-type: none;
    font-family: Raleway;
    font-weight: bold;
    margin-top: 12px;

}
.seg8_2 ul a{
    text-decoration: none;
    color: white;
}

.seg8_3{
    height: 350px;
    background-color: rgb(228, 37, 37);
    

}

.seg8_3 h2{
    font-family: Poppins;
    color: white;
    margin-top: 20px;

}
.seg8_3 ul a{
    text-decoration: none;
    color: white;
}



.seg8_3 ul li{
    list-style-type: none;
    font-family: Raleway;
    font-weight: bold;
    margin-top: 12px;

}

.seg9{
    height: 150px;
    background-color: rgb(228, 37, 37);


}

.seg9_2{
    height: 150px;
    background-color: rgb(228, 37, 37);
    background-image: url("logo_b.png");
    background-size: 90%;
    background-repeat: no-repeat;

}






/*Animation Keyframes*/
.animate__animated.animate__bounceInRight {
    --animate-duration: 3s;
}
.animate__animated.animate__bounceInRight {
    --animate-duration: 1s;
    
}


/*Mobile View*/

@media only screen and (max-width: 700px){


    
    .seg1{
        position: absolute;
        z-index: 3;
    }

    .logo{
        width: 70%;
    }

    .seg1 i{
        display: block;
        position: absolute;
        right: 10px;
        z-index: 5;
        top: 10px;
        font-size: 35px;
        color: wheat;
    }

    .seg1_2{
        background: linear-gradient(60deg,rgb(228, 37, 37), rgb(185, 31, 31));
        height: 0px;
    }


    .seg1_2 ul{
        width: 98%;
        margin-top: 22%;
        background-color:transparent;
        margin-left: 0%;
        padding-left: 0%;
        
    }

    .seg1_2 ul li{
        width: 100%;
        height: 60px;
        text-align: right;
        font-size: 32px;
        margin-left: 0%;
        padding-left: 0%;
    }

    .seg1_2 ul li:focus-within{
        color: gold;
    }
    


    .seg1_2 ul li:hover > ul{
        display: block;
        position: relative;
       
        width: 50%;
        height: 200px;
        background-color: yellowgreen;
        margin-left: 0%;
    
    }

    .seg1_2 ul li:hover > ul li{
        height: 35px;
        font-size: 14px;
    }








    .mail_info{
        display: none;
    }

    .seg2{
        height: 200px;

    }

    .seg2 h1{
        width: 50%;
        font-size: 11px;
    }

    .seg3_2{
        justify-content: center;
        margin-top: 20px;
    }

    .seg3_2 p{
        margin-top: 20px;
        text-align: center;
        width: 100%;
    }

    .seg3_2 button{
        margin-top: 110px;
        
    }

    .seg3_2 label{
        margin-top: 80%;
        width: 50%;
        align-self: center;
    }

    .seg3_2 h1{
        margin-top: 100px;
        text-align: center;
    }

    .block1 button{
        position: absolute;
        width: 100%;
        margin-left: 0%;
        top: 170px;
        height: 43%;
        font-size: 130%;
    }


    .seg3_3 div{
        width: 50%;
        height:50%;
        background-color: transparent;
        margin-left: 0%;
    }

    .seg3_3 div p{
        font-size: 270%;
        text-align: center;


    }

    .seg3_3 div label{
        padding-left: 10%;
    }


    .seg3_extended h2{
        width: 100%;
        font-size: 120%;
        display: flex;
        font-weight: bold;
       
    }




    .seg4{
        height: 270px;
    }



    .seg5 div{

        margin-left: 0%;
        height: 170px;
        width: 50%;
        box-shadow: 0px 0px 0px transparent;
        border: solid thin gainsboro;

    }

    .seg5 div h3{
        width: 100%;
        height: 30%;
        font-size: 90%;
        text-align: center;
        padding-top: 8%;
    }


    .seg7_additional{
        border: solid thin black;
        height: 150px;
    }

    
    .seg7_extended h1{
        width: 100%;
        font-size: 150%;
        text-align: center;
        padding-top: 15px;
        margin-top: 12px;

    }


    /*flickity*/

    .carousel-cell {
        width: 100%;
        height: 300px;
        
    }




    





}





/*TABLET VIEW*/

    
@media only screen and (max-width: 900px) and (min-width:700px){

    .logo{
        width: 90%;

    }


    .seg3_extended h2{
        width: 100%;
        font-size: 130%;
    }

    


   .seg5 div{
       width: 30%;
       height: 25%;
       background-size: contain;
       margin-left: 3%;
       justify-self: center;
       
    }

    .seg5 div h3{
        font-size: 100%;
    }



    .seg7_extended h1{
        width: 100%;
        
    }




}




